# UptimeRobot API Key
UPTIMEROBOT_API_KEY = "xxx"

# 网站域名
NEXT_PUBLIC_APP_URL = 'https://status.baiwumm.com'
# 网站名称
NEXT_PUBLIC_APP_NAME = 'Better Status'
# 网站描述
NEXT_PUBLIC_APP_DESC = '一个优雅的站点状态监控面板'
# 网站关键词
NEXT_PUBLIC_APP_KEYWORDS = 'Better Status,UptimeRobot, 网站监控, API监控, 服务可用性, 站点状态, 网站宕机检测, 服务器健康监测, 实时监控, 可视化报表'
# 网站ICP
NEXT_PUBLIC_SITE_ICP = '粤ICP备2023007649号'
# 网站公网备案
NEXT_PUBLIC_SITE_GUAN_ICP = '粤公网安备44030402006402号'
# 版权
NEXT_PUBLIC_COPYRIGHT = '白雾茫茫丶'
# 检测频率/分钟，限制范围：1-60
NEXT_PUBLIC_INTERVAL = '5'